MODEL__NAME='gpt-4.1-nano'
MODEL__API_KEY='your-model-api-key'

# MCP server url
MCP_SERVER__URL='http://host.docker.internal:8777/mcp'

AWS_ACCESS_KEY_ID='your-access-key-id'
AWS_SECRET_ACCESS_KEY='your-secret-access-key'

DB__HOST='localhost'
DB__PORT='5432'
DB__NAME='your-db-name'
DB__USER='your-username'
DB__PASSWORD='your-password'

# should be set to local for local development
# it runs app without opentelemetry
APP_ENVIRONMENT='local'

# CORS origins
BACKEND_CORS_ORIGINS='http://localhost:8501'

# AWS S3 bucket configurations for session context retention
S3_SESSION__BUCKET='user-sessions'
S3_SESSION__PREFIX='local'
S3_SESSION__REGION_NAME='eu-west-2'